.card {
    width: 90%;
    /* max-width: 40rem; */
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 8vh auto;
    animation: card-appear 1s ease-out forwards;
}

@keyframes card-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 790px) {
    .card {
        width: 90%;
        margin-right: 0;
    }
}