.all {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15vh;
}

.space {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 10vh;
}

.q {
    margin: 0 auto;
}

.danger {
    margin-top: 10vh;
    margin-left: 85vh;
}

.danger button {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;

    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}

.danger button:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.danger button:before,
.danger button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.danger button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.danger button:hover:before,
.danger button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.logo {
    color: #f75517;
    color: white;
}

.questionBox {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.chemistry img {
    width: 40vh;
    height: 40vh;
}

.label {
    display: block;
    margin: 2.5% 0;
}

.input {
    width: 70vh;
    height: 7vh;
    min-height: 50px;
    min-width: 400px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font: inherit;
    border: 1px solid #f75517;
    background: #f75517;
    color: white;
    padding: 0.75rem 3.5rem;
    margin-top: 3rem;
    cursor: pointer;
    font-size: 1.15rem;
    border-radius: 30px;
    width: 80%;
    max-width: 30rem;
    font-weight: 600;
}